@media screen and (max-width: 640px) {
  :root {
    --primary: #00aa00;
    --secondary: #fff;
    --special: #b39803;
    --bgColor: #8a8a8a41;
  }
  body {
    margin: 1rem;
    padding: 0;
    border: 0;
  }

  /* Form page */

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    color: var(--special);
    font-weight: bold;
    font-size: 3.3rem;
  }
  .x {
    color: var(--primary);
  }
  .currency {
    color: var(--primary);
    font-size: 5.3rem;
  }
  .inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  select,
  input {
    width: 85vw;
    height: 4rem;
    background-color: var(--bgColor);
    border: none;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
  }
  input {
    padding: 0;
  }
  label {
    color: var(--primary);
    font-size: 1.5rem;
  }
  button {
    background-color: var(--primary);
    color: var(--secondary);
    width: 85vw;
    height: 4rem;
    border: none;
    font-size: 1.5rem;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  /* Result page */
  .rmain {
    margin: 1rem;
  }
  .rhead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .rmain h4 {
    font-size: 1.3rem;
    color: var(--primary);
  }
  .rmain {
    color: var(--special);
  }
  .result {
    background-color: var(--bgColor);
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 1rem;
  }
  .theOutput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .oHeading {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary);
  }
  #outPut {
    color: var(--special);
    font-size: 1.3rem;
    font-weight: bold;
  }
}
